
#REG
{
 position:absolute;
 top:50%;
 left:50%;
 transform: translate(-50%, -50%);
 width:400px;
 height:700px;
 padding:10px 10px;
 margin-top:60px; 
 border-radius: 15px;
 box-sizing: border-box;
 background:rgba(0,0,0,0.5) ;
}
body
{
    margin:0;
    padding:0;
    background-image:url(../images/image.jpg);
    background-size:cover;
    font-family: sans-serif;
}
}
input[type="button"]
{
   width:100%;
   margin-top: 30px; 
   font-weight:bold;
   color:#1E90FF;
   border-radius:10%;
   
}
button[type="submit"]
{
  width:32%;
  margin-top: 50px;
  border:none;
  outline:none;
  height: 40px;
  color:#fff;
  font-size:16px;
  background: #FFA500;
  border-radius: 5px;

}
button[type="submit"]:hover
{
	background-color:#FF4500;
}

p
{
  margin-left:10px;
  color:#fff;
  font-size: 16px;
  font-weight:bold;
}

input[type="text"]
{
	border: 0px;
	border-bottom: 1px solid #f80;
	background: transparent;
	outline:none;
	height:40px;
  width: 85%;
  margin-left:15px;
	color:#f8f8f8;
	font-size: 13px;
	
}
input[type="number"]
{
	border: 0px;
	border-bottom: 1px solid #f80;
	background: transparent;
	outline:none;
	height:40px;
  width: 85%;
  margin-left:15px;
	color:#f8f8f8;
	font-size: 13px;
	
}

.pro
{	overflow:hidden;
 margin-left:110px;
       
}


#log
{
 width:50px;
 height:20px;
 background: rgb(230,230,230);
 padding:5 5 5 5px;
 border-radius:10%;
 margin-top:10px;
 margin-left:5px;
}
.showdata
{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom:50px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.showdata .show
{
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-left: 10px;
    
}
